@mixin border-1px($color){ /*一像素边框处理*/
  position:relative;
  &:after{
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    border-top:1px solid $color;
    content:' ';
  }
}
@mixin bg-image($url){ /*不同手机图片处理*/
  background-image:url($url + '@2x.png');
  @media only screen and (-webkit-min-device-pixel-ratio: 3),only screen and (min-device-pixel-ratio: 3){
    background-image:url($url + '@3x.png');
  }
}
